table {
  width: 100%;
  th, td {
    text-align: center;
    border-bottom: 1px solid #000000;
    &:not(:last-child){
      border-right: 1px solid #000000;
    }
  }
}
.highlighter-rouge {
  margin-bottom: 1.75em;
}
